<div class="bodyContainer">
  <section class="reclam">
    <div class="reclamText">
      <h1>
        Ensemble. Luttos.
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum in vero
        repellat ipsa dolorum quisquam? Atque cum dolorum sint iste dolores
        earum veniam ab minima debitis, architecto molestiae voluptas!
        Voluptates!
      </p>
      <button>Comment se proteger</button>
    </div>
    <div class="reclamImage">
      <img width="100%" alt="error" src="assets/1.png" />
    </div>
  </section>
  <app-symptomes></app-symptomes>
</div>
