/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0eaf8;
  position: relative;
}
.header-content {
  background-color: #f1f1f1;
  padding: 0;
}
.mobile-header-content {
  display: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  width: calc(100%-100px);
  max-width: 1500px;
}
.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  gap: 30px;
}
li {
  list-style: none;
}
.links a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.bodyContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}
.reclam {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 100px;
  width: 100%;
}
.reclam h1 {
  color: #6f41c6;
}
.reclamText {
  width: 50%;
}
.reclamText p {
  margin: 20px 0;
}
.reclamImage {
  width: 50%;
  text-align: center;
}
button {
  background-color: #6f41c6;
  color: #fff;
  padding: 10px 30px;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.box1 {
  flex: 0 1 calc(50% - 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px;
}
.box1 img {
  width: 150px;
  height: 150px;
}
.box1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.banner {
  margin: 50px auto;
}
.banner p {
  margin-bottom: 50px;
}
@media only screen and (max-width: 640px) {
  .reclam {
    flex-direction: column-reverse;
    align-items: center;
  }
  .reclamText {
    width: 80%;
  }
  .reclamImage {
    width: 80%;
  }
  .banner {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .header-content {
    display: none;
  }
  .mobile-header-content {
    display: block;
  }
}
