<div class="bodyContainer">
  <section class="banner">
    <h1 style="text-align: center; color: #6f41c6;">
      Symptome du Coronavirus
    </h1>
    <p style="text-align: center;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nihil hic
      veritatis temporibus odit corrupti earum exercitationem dolore ut, atque
      est veniam nisi quo modi sit sint iusto totam excepturi.
    </p>
    <div class="box">
      <div class="box1">
        <img src="assets/fievre.png" alt="error" />
        <div>
          <h3>Forte fievre</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatem...
          </p>
        </div>
      </div>
      <div class="box1">
        <img src="assets/toux.png" alt="error" />
        <div>
          <h3>Toux</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatem...
          </p>
        </div>
      </div>
      <div class="box1">
        <img src="assets/irritee.png" alt="error" />
        <div>
          <h3>Gorge irritee</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatem...
          </p>
        </div>
      </div>
      <div class="box1">
        <img src="assets/migraine.png" alt="error" />
        <div>
          <h3>Migraine</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatem...
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
